.about{
	text-align: center;
	/* background: red; */
	margin: 0 20px;
	margin-top: 53px;
	margin-bottom: 40px;
	/* height: 100vh; */
}

.about-container{
  
}

.about-info{
  /* background: red; */
}

.btn-wrapper-inside-about{
		display: flex;
		justify-content: space-around;
		align-items: center;
		/* background: red; */
		width: 100%;
	}

.about p{
	font-family: 'Sofia Sans', sans-serif;
	line-height: 27px;
	/* color: #0a0a31; */
	/* margin: 0 20px; */
}

.image-wrapper{
	margin: 0 30px;
}

.image-wrapper img{
	border-radius: 10px;
	margin-top: 20px;
	width: 100%;
	/* filter: grayscale(.6); */
	/* transition: .7s; */
}

.image-wrapper img:hover{
	/* filter: grayscale(0); */
}

/* Responsive Design */

@media only screen and (min-width: 768px) {
	.about-container{
		width: 100%;
		display: flex;
		/* background: red; */
		justify-content: space-between;
		align-items: center;
		padding: 10px;
		gap: 10px;
	}
	
	.image-wrapper{
		width: 40%;
		/* background: cyan; */
		margin: 0;
	}
	
	.image-wrapper img{
		width: 100%;
	}
	
	.about-info{
		width: 60%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: space-between;
		/* background: yellow; */
		padding: 5px;
	}
	
	.about p{
	  line-height: 32px;
  }
	
	.btn-wrapper-inside-about{
		margin-top: 5px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		/* background: red; */
		width: 100%;
	}
	
}



