.skills{
	margin-top: 100px;
}

.skills-label-box{
	/* height: 90vh; */
	margin: 0 30px;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.btn-web{
	background: #784beb;
	border: 2px solid transparent;
	color: ghostwhite;
}

.btn-programming{
	border: 2px solid #784beb;
	background: none;
	width: 170px;
	color: #784beb;
}

.btn-others{
	border: 2px solid #784beb;
	background: none;
	color: #784beb;
}

.skills-container{
	/* background: #222; */
	/* box-shadow: 0px 5px 15px rgba(0,0,0,.15); */
	/* height: 800px; */
	/* margin: 20px 30px; */
	/* padding: 10px; */
	/* position: relative; */
}

.web-skills{
	width: 100%;
	padding: 20px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.programming-skills{
	width: 100%;
	padding: 20px;
	display: none;
	justify-content: space-around;
	flex-wrap: wrap;
}

.other-skills{
	width: 100%;
	padding: 20px;
	display: none;
	justify-content: space-around;
	flex-wrap: wrap;
}


.skill{
	/* background: white; */
	box-shadow: 0px 5px 15px rgba(0,0,0,.15);
	height: 50px;
	margin: 10px 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 5px 10px;
	border-radius: 5px;
	font-family: 'Sofia Sans', sans-serif;
	width: 45%;
}

.skill:hover{
	/* background: red; */
	transition: 1s;
	transform: scale(1.060);
	
}

.skill:active{
	/* background: whitesmoke; */
}

.skill-text{
	margin-left: 10px;
}

.skill > i,iconify-icon{
	color: #784beb;
}

iconify-icon{
  /* background: red; */
}

/* Responsive Design */

@media only screen and (min-width: 768px) {
	.skills-container{
		/* background: red; */
		/* height: 500px; */
	}
	
	.web-skills{
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
		width: 100%;
		/* height: 500px; */
		/* background: red; */
	}
	
	.skill{
		width: 45%;
	}
	
}

