@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans&family=Sofia+Sans:wght@300;500&family=Unbounded&display=swap');

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Sofia Sans', sans-serif;
font-family: 'Unbounded', cursive;
*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
}

html{
	scroll-behavior: smooth;
}

body{
	background: ghostwhite;
	position: relative;
	height: 100%;
}

header{
	top: 0;
	height: 50px;
	width: 100%;
	position: fixed;
	transition: .5s;
	z-index: 999;
}

.header-righ-div{
	/* background: red; */
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-righ-div > i{
	margin-right: 10px;
}

.nav-logo{
	background: #222;
	height: 10px;
	width: 10px;
	border-radius: 5px;
	color: white;
	padding: 4px;
	font-family: 'Unbounded', cursive;
}

.nav-container{
	height: 100%;
	background: white;
	box-shadow:
  0px 1.9px 2px -17px rgba(0, 0, 0, 0.028),
  0px 4.7px 4.9px -17px rgba(0, 0, 0, 0.04),
  0px 8.8px 9.3px -17px rgba(0, 0, 0, 0.05),
  0px 15.6px 16.5px -17px rgba(0, 0, 0, 0.06),
  0px 29.2px 30.9px -17px rgba(0, 0, 0, 0.072),
  0px 70px 74px -17px rgba(0, 0, 0, 0.1)
;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	transition: .5s;
}

.menu-icon{
	/* background: red; */
	color: #222;
	font-size: 1.6rem;
}

/*Filter styles*/
.saturate { filter: saturate(3); }
.grayscale { filter: grayscale(100%); }
.contrast { filter: contrast(160%); }
.brightness { filter: brightness(0.25); }
.blur { filter: blur(3px); }
.invert { filter: invert(100%); }
.sepia { filter: sepia(100%); }
.huerotate { filter: hue-rotate(180deg); }
.rss.opacity { filter: opacity(50%); }

.nav-bar{
	height: 100%;
	/* background: white; */
	transition: .3s;
	background: #090427;
	color: white;
	width: 200px;
	position: fixed;
	top: 0;
	bottom: 0;
	right: -200px;
	overflow: auto;
	box-shadow:
	4.5px 4.5px 3.6px rgba(0, 0, 0, 0.24),
	12.5px 12.5px 10px rgba(0, 0, 0, 0.35),
	30.1px 30.1px 24.1px rgba(0, 0, 0, 0.46),
	100px 100px 80px rgba(0, 0, 0, 0.07)
	;
	z-index: 999;
	font-family: 'Open Sans', sans-serif;
}

.navbar-hr{
	border: .3px solid lightgray;
}

.navbar-wrapper{
	display: flex;
	justify-content: space-between;
	align-content: center;
	margin-bottom: 6px;
	padding: 11px 20px;
	/* height: 40px; */
}

.close{
	font-size: 1.3rem;
	color: white;
}

.nav-link-wrapper{
	
}

.nav-item{
	display: block;
	margin: 10px 0;
	border-bottom: 2px solid transparent;
}

.nav-item:hover{
	border-bottom: 2px solid #784beb;
}

.nav-link{
	display: block;
	color: white;
	height: 40px;
	padding-top: 6px;
	display: flex;
	align-items: center;
	padding: 20px;
}

.nav-link-icon{
	margin-right: 10px;
	color: white;
}


.intro{
	margin-top: 50px;
	/* margin: 10px 0; */
	text-align: center;
	height: 100vh;
	/* background: red; */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.intro .hi{
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 5px;
}

.intro .name{
	font-family: 'Unbounded', cursive;
	letter-spacing: 4px;
	margin-bottom: 15px;
}

.intro .label{
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	margin: 5px 0;
}

.btn-wrapper{
	margin: 15px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Button Style */
.btn-wrapper > button{
	height: 48px;
	width: 120px;
	margin: 0 3px;
	font-family: 'Open Sans', sans-serif;
	border-radius: 5px;
	font-size: 1rem;
}

.btn-resume{
	background: #884beb;
	border: none;
	color: white;
}

.btn-about:active{
	background: lightgray;
}

.btn-hover{
	background: #884beb;
	border: none;
	color: white;
}

.btn-hover-out{
	border: 2px solid #884beb;
	background: none;
	color: #884beb;
}

.btn-about{
	border: 2px solid #884beb;
	background: none;
	color: #884beb;
}


/* Button Style */


.follow-container{
	margin: 20px 0;
}

.follow-container .follow{
	display: flex;
	justify-content: center;
	align-items: center;
}

/*. follow-container .follow .follow-me-text{
	text-transform: uppercase;
	background: #333;
	color: ghostwhite;
	padding: 0 4px;
	font-family: 'Open Sans', sans-serif;
}

.follow-container .follow > hr{
	width: 20px;
	height: .5px;
	border: .5px solid #222;
}
 */
 
.follow-container .follow-link-container{
	margin-top: 20px;
}

.follow-container .follow-link-container a{
	margin: 0 10px;
	color: #222;
}


.follow-container .follow-link-container i{
	font-size: 20px;
	/* margin: 0 10px; */
}


@media only screen and (min-width: 600px) {
  main{
    margin: 0 5vw;
  }
}

