::selection {
  color: #1c256a;
  background: yellow;
  padding: 2px 6px;
}

.section-label{
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.section-label h3{
	background: #333;
	padding: 0 5px;
	color: ghostwhite;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	
}

.section-label > hr{
	width: 25px;
	height: .5px;
	border: .5px solid #222;
}


.btn-global{
	height: 48px;
	/* width: 120px; */
	padding: 0 10px;
	margin: 0 3px;
	font-family: 'Open Sans', sans-serif;
	border-radius: 5px;
	font-size: 1rem;
}

/* For Nav Menu */

.open{
	right: 0;
}

.close{
	right: -200px;
}

.back-to-top{
	position: fixed;
	/* top: 0; */
	bottom: 20px;
	right: 20px;
	height: 40px;
	width: 40px;
	border-radius: 20px;
	background: orange;
	z-index: 999990;
	font-size: 1.3rem;
	border: none;
	/* display: none; */
	opacity: 0;
	transition: 1s;
}


.back-to-top iconify-icon{
	color: #222;
	font-size: 2rem;
}
